<section class="advantages">
  <div class="div-container container">
    <h2 class="advantager-hidden-text">product description</h2>
    <ul class="list-advantages">
      <li class="discrabe-list active-link">
        <div class="div-advantages-icon">
          <svg class="advantages-icon" width="32" height="32">
            <use href="./images/icons.svg#icon-advantages-chocolate"></use>
          </svg>
        </div>
        <h3 class="headers-for-advantages">Unsurpassed taste</h3>
        <p class="discrabe-for-advantages">
          Crafted with the finest quality cocoa beans and a dedication to
          perfection, each bite is a decadent experience that simply cannot be
          matched. Savor the richness and complexity of our Unsurpassed Taste
          and discover a new level of chocolate bliss.
        </p>
      </li>
      <li class="discrabe-list active-link">
        <div class="div-advantages-icon">
          <svg class="advantages-icon" width="32" height="32">
            <use href="./images/icons.svg#icon-advantages-coin"></use>
          </svg>
        </div>
        <h3 class="headers-for-advantages">Affordable price</h3>
        <p class="discrabe-for-advantages">
          Indulge in high-quality chocolate without breaking the bank with
          Simply Chocolate's selection of affordable treats. Enjoy
          mouth-watering truffles and velvety chocolate bars without sacrificing
          taste or quality. Browse our selection and indulge in affordable
          luxury today.
        </p>
      </li>

      <li class="discrabe-list-size">
        <div class="div-advantages-icon">
          <svg class="advantages-icon" width="32" height="32">
            <use href="./images/icons.svg#icon-advantages-spoon"></use>
          </svg>
        </div>
        <h3 class="headers-for-advantages">Own production</h3>
        <p class="discrabe-for-advantages">
          We take pride in our own production process, ensuring that every step
          is carefully crafted to perfection. From selecting the finest
          ingredients to handcrafting each piece, our attention to detail is
          evident in every bite.
        </p>
      </li>
    </ul>
  </div>
</section>
