
<footer class="footer" id="footer">
    <section class="footer-main container">
       <div class="footer_container_flex">
        <h2 class="footer-title"><span class="footer-span-choco">Chocolate</span> a delicious cure for a bad day</h2>
        <div class="footer_contact_container">
            <address class="contact">
            <p class="footer-p">Contact us</p>
            <ul class="contact-container list">
                <li class="footer_list_icon"><a class="contact-list link" href="tel:+380684439426">+380 (68) 443-94-26</a></li>
                <li class="footer_list_icon"><a class="contact-list link" href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a></li>
            </ul>
        </address>
        <div class="footer-svg-container">
            <ul class="footer_list">
                <li><a href="https://www.instagram.com/" target="_blank" rel="noreferrer noopener nofollow">
                    <svg class="footer-icon">
                        <use href="./images/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
                <li><a href="https://twitter.com/" target="_blank" rel="noreferrer noopener nofollow">
                    <svg class="footer-icon">
                        <use href="./images/icons.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
            </ul>
        </div>
        </div>
    </div>
        <span class="footer-span-line"></span>
        <nav>
            <ul class="footer-nav-container">
            <li><a href="#home">Home</a></li>
            <li><a href="#how_made">How it's made?</a></li>
            <li><a href="#our_products">Our products</a></li>
            <li><a href="#top_sellers">Top sellers</a></li>
            <li><a href="#chocolate_is_loved">Chocolate is loved</a></li>
        </ul>
      </address>
      <div class="footer-svg-container">
        <ul class="footer_list">
          <li>
            <a
              href="https://www.instagram.com/"
              target="_blank"
              rel="noreferrer noopener nofollow"
            >
              <svg class="footer-icon" width="22" height="22">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://twitter.com/"
              target="_blank"
              rel="noreferrer noopener nofollow"
            >
              <svg class="footer-icon" width="22" height="22">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <span class="footer-span-line"></span>
    <nav>
      <ul class="footer-nav-container">
        <li><a href="#home">Home</a></li>
        <li><a href="#how_made">How it's made?</a></li>
        <li><a href="#our_products">Our products</a></li>
        <li><a href="#top_sellers">Top sellers</a></li>
        <li><a href="#chocolate_is_loved">Chocolate is loved</a></li>
      </ul>
    </nav>
  </section>
</footer>
