<header id="home" class="header_style">
  <div class="header_container container">
    <nav class="header_navigation">
      <a class="header-logo-text link" href="index.html"
        >SIMPLY CHOCOLATE
        <svg class="navigation-icon" width="21" height="21">
          <use href="./images/icons.svg#icon-logo_chocolate"></use>
        </svg>
      </a>
      <ul class="navigation_link_list">
        <li class="navigation_list">
          <a class="navigation-list-link" href="#home">Home</a>
        </li>
        <li class="navigation_list">
          <a class="navigation-list-link" href="#how_made">How it’s made?</a>
        </li>
        <li class="navigation_list">
          <a class="navigation-list-link" href="#our_prod">Our products</a>
        </li>
        <li class="navigation_list">
          <a class="navigation-list-link" href="#top_sell">Top sellers</a>
        </li>
        <li class="navigation_list">
          <a class="navigation-list-link" href="#choco_love">Chocolate is loved</a
          >
        </li>
      </ul>
      <ul class="navigation_social">
        <li>
          <a class="header-icon-color" href="#">
            <svg width="24" height="24">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="header-icon-color" href="#">
            <svg width="24" height="24">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
      <!-- burger mobile and tablet-->
      <button
        type="button"
        class="nav_button_open_menu"
        aria-label="open menu"
        data-mobmenu-modal-open
      >
        <svg class="nav-burger-color" width="28" height="28">
          <use href="./images/icons.svg#icon-menu_burger"></use>
        </svg>
      </button>
    </nav>
  </div>
  <div class="header_mobile_menu is-hidden" data-mobmenu-modal>
    <div class="header_mobile_container">
      <button type="button" aria-label="close menu" class="mobile_menu_button" data-mobmenu-modal-close>
        <svg class="icon_close_head" width="28" height="28">
          <use href="./images/icons.svg#icon-x-close"></use>
        </svg>
      </button>
      <ul class="header_menu_list">
        <li>
          <a class="header_menu_list_link " href="#home">Home</a>
        </li>
        <li>
          <a class="header_menu_list_link " href="#how_made"
            >How it’s made?</a>
        </li>
        <li>
          <a class="header_menu_list_link " href="#our_prod"
            >Our products</a>
        </li>
        <li>
          <a class="header_menu_list_link " href="#top_sell">Top sellers</a>
        </li>
        <li>
          <a class="header_menu_list_link " href="#choco_love"
            >Chocolate is loved</a>
        </li>
      </ul>
      <ul class="header_menu_list_social">
        <li>
          <a href="www.isntagram.com">
          <svg class="header_menu_icon_social" width="22" height="22">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
        </li>
        <li>
            <a href="www.twitter.com">
              <svg class="header_menu_icon_social" width="20" height="20">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
        </li>
      </ul>
    </div>
  </div>
</header>
