<section class="how-its-made" id="how_made">
  <div class="how-its-made-container container">
    <h2 class="title-text">HOW IT’S<span class="title-text-yellow">MADE?</span></h2>
    <div class="wrapper">
      <div class="how-its-made-player-wrapper">
        <!-- <iframe class="how-its-made-player" width="335" height="500" src="https://www.youtube.com/embed/DISjdfkSjc8" loading="lazy" title="How It&#39;s Made: Chocolate" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
      </div>
      <div class="production-steps">
      <h3  class="production-steps-title">
        Try  our chocolates today and <br>discover the perfect balance of flavor
      </h3>
      <ul class="step-list">
        <li class="step-item">
          <p class="step">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.
          </p>
        </li>
        <li class="step-item">
          <p class="step">
            At the same time, prepare a water bath. Melt the butter on it.
          </p>
        </li>
        <li class="step-item">
          <p class="step">
            "Mix" the milk mixture and already liquid butter. Mix 
            thoroughly with a silicone spatula so that the mass becomes 
            uniform and silky.
          </p>
        </li>
        <li class="step-item">
          <p class="step">
            Heat the mixture over low heat, letting it barely boil.
          </p>
        </li>
        <li class="step-item">
          <p class="step">
            Pour the chocolate into special containers (can be replaced 
            with ice molds). Allow to cool and harden.
          </p>
        </li>
      </ul>
    </div>
    </div>   
  </div> 
</section>
