<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Studio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Raleway:wght@800&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="./css/styles.css" />

    <section class="how-its-made">
        <div class="container">
          <h2 class="title-text">HOW IT’S<span class="title-text-yellow">MADE?</span></h2>
            <div class="how-its-made-player-wrapper">
            <iframe class="how-its-made-player" width="335" height="500" src="https://www.youtube.com/embed/DISjdfkSjc8" title="How It&#39;s Made: Chocolate" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
            <!-- <div id="player"></div>
            <div id="thumbnail_container" class="thumbnail_container">
                <img class="thumbnail" id="thumbnail" />
            </div>
            <a class="start-video"><img width="64" src="http://image.flaticon.com/icons/png/512/0/375.png" 
              style="filter: invert(100%); -webkit-filter: invert(100%);"></a>
          <div> -->
          

          <div class="production-steps">
            <h3  class="production-steps-title">
              Try  our chocolates today and discover the perfect balance of flavor
            </h3>
            <ul class="step-list">
              <li class="step-item">
                <p class="step">
                  Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.
                </p>
              </li>
              <li class="step-item">
                <p class="step">
                  At the same time, prepare a water bath. Melt the butter on it.
                </p>
              </li>
              <li class="step-item">
                <p class="step">
                  "Mix" the milk mixture and already liquid butter. Mix 
                  thoroughly with a silicone spatula so that the mass becomes 
                  uniform and silky.
                </p>
              </li>
              <li class="step-item">
                <p class="step">
                  Heat the mixture over low heat, letting it barely boil.
                </p>
              </li>
              <li class="step-item">
                <p class="step">
                  Pour the chocolate into special containers (can be replaced 
                  with ice molds). Allow to cool and harden.
                </p>
              </li>
            </ul>
          </div>
          
        </div>
      </section>
      <!-- <script src="./js/youtube-script.js"></script> -->
