<div class="backdrop is-hidden" data-first-modal>
  <div class="bn_modal">
    <button type="button" aria-label="close window buy now" class="bn_close_btn" data-first-modal-close>
      <svg width="24" height="24" class="bn_close_svg">
        <use href="./images/icons.svg#icon-x-close"></use>
      </svg>
    </button>
    <h1 class="bn_modal_header">
      buy <span class="bn_modal_header2">now</span>
    </h1>
    <ul class="bn_card_list">
      <li class="bn_card">
        <img
          class="bn_img"
          srcset="
            ./images/buy_now/image1mob.jpg    1x,
            ./images/buy_now/image1mob@2x.jpg 2x
          "
          src="./images/buy_now/image1mob.jpg"
          alt="choco1"
        />
        <button type="button" aria-label="buy 100g product" class="bn_weight_btn">100 g</button>
      </li>
      <li class="bn_card">
        <img
          class="bn_img"
          srcset="
            ./images/buy_now/image2mob.jpg    1x,
            ./images/buy_now/image2mob@2x.jpg 2x
          "
          src="./images/our_products/image2mob.jpg"
          alt="choco2"
        />
        <button type="button" aria-label="buy 200g product" class="bn_weight_btn">200 g</button>
      </li>
      <li class="bn_card">
        <img
          class="bn_img"
          srcset="
            ./images/buy_now/image3mob.jpg    1x,
            ./images/buy_now/image3mob@2x.jpg 2x
          "
          src="./images/our_products/image3mob.jpg"
          alt="choco3"
        />
        <button type="button" aria-label="buy 300g product" class="bn_weight_btn">300 g</button>
      </li>
    </ul>
    <form class="bn_form" autocomplete="on" novalidate>
      <div class="bn_form_block">
        <label for="name-user" class="bn_form_block_name"
          >Personal information</label>
        <div class="bn_input_block">
          <input
            id="name-userr"
            class="bn_input"
            type="text"
            name="user-name"
            placeholder="Name"
            autofocus
            required
          />
          <input
            id="name-user"
            class="bn_input"
            type="text"
            name="user-surname"
            placeholder="Surname"
            required
          />
        </div>
      </div>
      <div class="bn_form_block">
        <label for="mail" class="bn_form_block_name">Email</label>
        <div class="bn_input_block">
          <input
            id="mail"
            class="bn_input"
            type="email"
            name="Email"
            placeholder="Enter your email"
            required
          />
        </div>
      </div>
      <div class="bn_form_block">
        <label for="phone" class="bn_form_block_name">Phone</label>
        <div class="bn_input_block">
          <div class="bn_ua">
            <svg class="bn_ua_svg" width="24" height="18">
              <use href="./images/icons.svg#icon-modal-ukraine"></use>
            </svg>
            <p class="bn_ua_phone">+380</p>
          </div>
          <input
            id="phone"
            class="bn_input_phone"
            type="tel"
            name="telephone"
            placeholder="Enter your phone"
            required
          />
        </div>
      </div>
      <div class="bn_form_block">
        <label for="bank_card" class="bn_form_block_name">Card number</label>
        <div class="bn_input_block">
          <input
            id="bank_card"
            class="bn_input"
            type="tel"
            name="card"
            placeholder="Enter card"
            required
          />
          <svg class="bn_card_svg" width="32" height="21">
            <use href="./images/icons.svg#icon-master-card"></use>
          </svg>
        </div>
      </div>
      <div class="bn_form_block">
        <label for="comment-user" class="bn_form_block_name">Comment</label>
        <textarea
          id="comment-user"
          class="bn_input_comment"
          name="user-comment"
          rows="3"
          placeholder="Enter input"
        ></textarea>
      </div>
      <button class="bn_send-button" aria-label="submit buy product" type="submit">Send</button>
    </form>
  </div>
</div>
