<div class="modal_subscribe backdrop is-hidden" data-third-modal>
  <div class="wrapper_modal_subscribe">
    <div class="container_modal_subscribe_img">
      <button
        class="modal_subscribe_btn_close"
        type="button"
        data-third-modal-close
      >
        <svg class="modal_close_icon_subscribe" width="28" height="28">
          <use href="./images/icons.svg#icon-x-close"></use>
        </svg>
      </button>
    </div>
    <div class="container_modal_subscribe_form">
      <h3 class="modal_subscribe_title">
        Explore our<br />
        <span class="modal_subscribe_title_color">new chocolate</span>
        first!
      </h3>
      <form class="mail_form_modal_subscribe">
        <div class="container_input_btn_modal_subscribe">
          <input
            class="modal_subscribe_input"
            type="email"
            name="email_subscribe"
            placeholder="Enter your email"
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
            required
          />
          <button class="btn_submit_modal_subscribe" type="submit">
            <span class="btn_submit_modal_text_mobile">Submit</span>
            <span class="btn_submit_modal_text_tabl">Subscribe</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
