<section class="our_products_section">
    <div class="op_container">
        <h1 class="op_header">Our <span class="op_header_span">Products</span></h1>
        <ul class="op_swiper swiper-container">
            <div class="op_choco_card_list swiper-wrapper">
                <li class="swiper-slide">
                    <div class="op_choco_card">
                        <img width="230" height="201"
                            srcset="./images/our_products/orange.jpg 1x , ./images/our_products/orange@2x.jpg 2x"
                            src="./images/our_products/orange.jpg" alt="Orange">
                        <div class="op_choco_card_desription">
                            <h3 class="op_choco_card_tittle">orange</h3>
                            <p class="op_choco_card_prgrph">Dark chocolate</p>
                            <button type="button" class="op_choco_card_price">45 UAH</button>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="op_choco_card">
                        <img width="230" height="201"
                            srcset="./images/our_products/appleberry.jpg 1x , ./images/our_products/appleberry@2x.jpg 2x"
                            src="./images/our_products/appleberry.jpg" alt="APPLE&CRANBERRY">
                        <div class="op_choco_card_desription">
                            <h3 class="op_choco_card_tittle">APPLE&CRANBERRY</h3>
                            <p class="op_choco_card_prgrph">Milk chocolate</p>
                            <button type="button" class="op_choco_card_price">50 UAH</button>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="op_choco_card">
                        <img width="230" height="201"
                            srcset="./images/our_products/limesea.jpg 1x , ./images/our_products/limesea@2x.jpg 2x"
                            src="./images/our_products/limesea.jpg" alt="lime&sea salt">
                        <div class="op_choco_card_desription">
                            <h3 class="op_choco_card_tittle">lime&sea salt</h3>
                            <p class="op_choco_card_prgrph">Dark chocolate</p>
                            <button type="button" class="op_choco_card_price">66 UAH</button>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="op_choco_card">
                        <img width="230" height="201"
                            srcset="./images/our_products/pineapple.jpg 1x , ./images/our_products/pineapple@2x.jpg 2x"
                            src="./images/our_products/pineapple.jpg" alt="pineapple">
                        <div class="op_choco_card_desription">
                            <h3 class="op_choco_card_tittle">pineapple</h3>
                            <p class="op_choco_card_prgrph">Dark chocolate</p>
                            <button type="button" class="op_choco_card_price">54 UAH</button>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="op_choco_card">
                        <img width="230" height="201"
                            srcset="./images/our_products/classic.jpg 1x , ./images/our_products/classic@2x.jpg 2x"
                            src="./images/our_products/classic.jpg" alt="classic">
                        <div class="op_choco_card_desription">
                            <h3 class="op_choco_card_tittle">Classic</h3>
                            <p class="op_choco_card_prgrph">Milk chocolate</p>
                            <button type="button" class="op_choco_card_price">45 UAH</button>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="op_choco_card">
                        <img width="230" height="201"
                            srcset="./images/our_products/honey.jpg 1x , ./images/our_products/honey@2x.jpg 2x"
                            src="./images/our_products/honey.jpg" alt="honey">
                        <div class="op_choco_card_desription">
                            <h3 class="op_choco_card_tittle">honey</h3>
                            <p class="op_choco_card_prgrph">Milk chocolate</p>
                            <button type="button" class="op_choco_card_price">50 UAH</button>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="op_choco_card">
                        <img width="230" height="201"
                            srcset="./images/our_products/fruits.jpg 1x , ./images/our_products/fruits@2x.jpg 2x"
                            src="./images/our_products/fruits.jpg" alt="fruits">
                        <div class="op_choco_card_desription">
                            <h3 class="op_choco_card_tittle">Roasted fruits</h3>
                            <p class="op_choco_card_prgrph">Dark chocolate</p>
                            <button type="button" class="op_choco_card_price">66 UAH</button>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="op_choco_card">
                        <img width="230" height="201"
                            srcset="./images/our_products/white.jpg 1x , ./images/our_products/white@2x.jpg 2x"
                            src="./images/our_products/white.jpg" alt="white">
                        <div class="op_choco_card_desription">
                            <h3 class="op_choco_card_tittle">classic</h3>
                            <p class="op_choco_card_prgrph">White chocolate</p>
                            <button type="button" class="op_choco_card_price">54 UAH</button>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="op_choco_card">
                        <img width="230" height="201"
                            srcset="./images/our_products/orange.jpg 1x , ./images/our_products/orange@2x.jpg 2x"
                            src="./images/our_products/orange.jpg" alt="Orange">
                        <div class="op_choco_card_desription">
                            <h3 class="op_choco_card_tittle">orange</h3>
                            <p class="op_choco_card_prgrph">Dark chocolate</p>
                            <button type="button" class="op_choco_card_price">45 UAH</button>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="op_choco_card">
                        <img width="230" height="201"
                            srcset="./images/our_products/appleberry.jpg 1x , ./images/our_products/appleberry@2x.jpg 2x"
                            src="./images/our_products/appleberry.jpg" alt="APPLE&CRANBERRY">
                        <div class="op_choco_card_desription">
                            <h3 class="op_choco_card_tittle">APPLE&CRANBERRY</h3>
                            <p class="op_choco_card_prgrph">Milk chocolate</p>
                            <button type="button" class="op_choco_card_price">50 UAH</button>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="op_choco_card">
                        <img width="230" height="201"
                            srcset="./images/our_products/limesea.jpg 1x , ./images/our_products/limesea@2x.jpg 2x"
                            src="./images/our_products/limesea.jpg" alt="lime&sea salt">
                        <div class="op_choco_card_desription">
                            <h3 class="op_choco_card_tittle">lime&sea salt</h3>
                            <p class="op_choco_card_prgrph">Dark chocolate</p>
                            <button type="button" class="op_choco_card_price">66 UAH</button>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="op_choco_card">
                        <img width="230" height="201"
                            srcset="./images/our_products/pineapple.jpg 1x , ./images/our_products/pineapple@2x.jpg 2x"
                            src="./images/our_products/pineapple.jpg" alt="pineapple">
                        <div class="op_choco_card_desription">
                            <h3 class="op_choco_card_tittle">pineapple</h3>
                            <p class="op_choco_card_prgrph">Dark chocolate</p>
                            <button type="button" class="op_choco_card_price">54 UAH</button>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="op_choco_card">
                        <img width="230" height="201"
                            srcset="./images/our_products/classic.jpg 1x , ./images/our_products/classic@2x.jpg 2x"
                            src="./images/our_products/classic.jpg" alt="classic">
                        <div class="op_choco_card_desription">
                            <h3 class="op_choco_card_tittle">Classic</h3>
                            <p class="op_choco_card_prgrph">Milk chocolate</p>
                            <button type="button" class="op_choco_card_price">45 UAH</button>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="op_choco_card">
                        <img width="230" height="201"
                            srcset="./images/our_products/honey.jpg 1x , ./images/our_products/honey@2x.jpg 2x"
                            src="./images/our_products/honey.jpg" alt="honey">
                        <div class="op_choco_card_desription">
                            <h3 class="op_choco_card_tittle">honey</h3>
                            <p class="op_choco_card_prgrph">Milk chocolate</p>
                            <button type="button" class="op_choco_card_price">50 UAH</button>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="op_choco_card">
                        <img width="230" height="201"
                            srcset="./images/our_products/fruits.jpg 1x , ./images/our_products/fruits@2x.jpg 2x"
                            src="./images/our_products/fruits.jpg" alt="fruits">
                        <div class="op_choco_card_desription">
                            <h3 class="op_choco_card_tittle">Roasted fruits</h3>
                            <p class="op_choco_card_prgrph">Dark chocolate</p>
                            <button type="button" class="op_choco_card_price">66 UAH</button>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="op_choco_card">
                        <img width="230" height="201"
                            srcset="./images/our_products/white.jpg 1x , ./images/our_products/white@2x.jpg 2x"
                            src="./images/our_products/white.jpg" alt="white">
                        <div class="op_choco_card_desription">
                            <h3 class="op_choco_card_tittle">classic</h3>
                            <p class="op_choco_card_prgrph">White chocolate</p>
                            <button type="button" class="op_choco_card_price">54 UAH</button>
                        </div>
                    </div>
                </li>
            </div>
        </ul>
        <ul class="op_swiper_list">
            <li class="op_swiper_buttons"><button type="button"></button></li>
            <li class="op_swiper_buttons"><button type="button"></button></li>
            <li class="op_swiper_buttons"><button type="button"></button></li>
            <li class="op_swiper_buttons"><button type="button"></button></li>
            <li class="op_swiper_buttons"><button type="button"></button></li>
            <li class="op_swiper_buttons"><button type="button"></button></li>
            <li class="op_swiper_buttons"><button type="button"></button></li>
            <li class="op_swiper_buttons"><button type="button"></button></li>
        </ul>
    </div>
</section>