<section id="choco_love">
  <div class="container">
    <h2 class="reviews_title">
      <span class="reviews_text_decoration">chocolate</span> is loved
    </h2>
    <div class="reviews_section">
      <ul class="reviews_box_list">
        <li class="reviews_list">
          <h3 class="reviews_list_title">Victoria Dobrzhanska</h3>
          <img
            class="reviews_photo"
            srcset="./images/reviews/Victoria_Dobrzhanska@2x.png 2x"
            src="./images/reviews/Victoria_Dobrzhanska@1x.png"
            alt="Victoria Dobrzhanska"
          />
          <p class="reviews_list_reviews">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </li>
        <li class="reviews_list reviews_list_nb">
          <h3 class="reviews_list_title">Nazar Babenko</h3>
          <p class="reviews_list_reviews">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
          <img
            class="reviews_photo"
            srcset="./images/reviews/Nazar-Babenko@2x.png 2x"
            src="./images/reviews/Nazar-Babenko@1x.png"
            alt="Nazar Babenko"
          />
        </li>
        <li class="reviews_list reviews_list_ok">
          <h3 class="reviews_list_title">Olena Kampusch</h3>
          <p class="reviews_list_reviews">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
          <img
            class="reviews_photo"
            srcset="./images/reviews/Olena-Kampusch@2x.png 2x"
            src="./images/reviews/Olena-Kampusch@1x.png"
            alt="Olena Kampusch"
          />
        </li>
        <li class="reviews_list reviews_list_ns">
          <h3 class="reviews_list_title">Natalia Sus</h3>
          <p class="reviews_list_reviews">
            The chocolate assortment was delicious. Both dark and milk chocolate
            pieces were smooth and just right on the sweetness level.
          </p>
          <img
            class="reviews_photo"
            srcset="./images/reviews/Natalia-Sus@2x.png 2x"
            src="./images/reviews/Natalia-Sus@1x.png"
            alt="Natalia Sus"
          />
        </li>
        <li class="reviews_list reviews_list_ds">
          <h3 class="reviews_list_title">Danilo Nottingham</h3>
          <p class="reviews_list_reviews">
            This is delicious. It so rich and flavorful you don’t need to use as
            many. I love topping an apple with almond butter and these chips for
            a snack.
          </p>
          <img
            class="reviews_photo"
            srcset="./images/reviews/Danilo-Nottingham@2x.png 2x"
            src="./images/reviews/Danilo-Nottingham@1x.png"
            alt="Danilo Nottingham"
          />
        </li>
        <li class="reviews_list reviews_list_it">
          <h3 class="reviews_list_title">Irina Tydnyuk</h3>
          <p class="reviews_list_reviews">
            This is simply the best chocolate around, and I'm just thrilled to
            support a local company! Best local chocolate - world class :)
          </p>
          <img
            class="reviews_photo"
            srcset="./images/reviews/Irina-Tydnyuk@2x.png 2x"
            src="./images/reviews/Irina-Tydnyuk@1x.png"
            alt="Irina Tydnyuk"
          />
        </li>
      </ul>
      <div class="reviews_pointer">
        <ul class="reviews_slider_list">
          <li class="reviews_slick_dots"></li>
          <li class="reviews_slick_dots"></li>
          <li class="reviews_slick_dots"></li>
          <li class="reviews_slick_dots"></li>
        </ul>
        <button data-second-modal-open class="reviews_btn" type="button">
          Leave a review
        </button>
      </div>
    </div>
  </div>
</section>
