<section class="subscribe">
  <div class="container container-subscribe">
    <h2 class="title_section_subscribe">exPLORE OUR NEW CHOCOLATE FIRST</h2>
    <p class="text_section_subscribe">
      From the velvety texture to the rich and complex flavor, our New Chocolate
      is a true indulgence that will leave you craving more. Made with only the
      finest ingredients and handcrafted with the utmost care, each piece is a
      work of art that is sure to please.
    </p>
    <button data-third-modal-open class="btn_section_subscribe" aria-label="open window subscribe" type="submit">
      Subscribe
    </button>
  </div>
</section>
