<section class="section-components">
  <div class="components-container container">
    <h2 class="components-header">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="components-header-word">TASTE</span> SENSATION
    </h2>
    <p class="components-lower">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="components-list list">
      <li class="components-list-img-milkchockolate components-list-img-all">
        <picture>
          <source
            srcset="./images/unique_components/chokolate1x.png 1x, ./images/unique_components/chokolate@2x.png 2x"
            media="(min-width: 1200px)"/>
          <source
            srcset="
              ./images/unique_components/chokolate-mob1x.png,
              ./images/unique_components/chokolate-mob@2x.png 2x"
            media="(min-width: 768px)"/>
          <source
            srcset="
              ./images/unique_components/chokolate-mob1x.png  1x,
              ./images/unique_components/chokolate-mob@2x.png 2x"
            media="(min-width: 375px)"/>
          <img
            class="components-img-size"
            src="./images/unique_components/chokolate-mob1x.png"
            alt="chokolate"
            width="224"/>
        </picture>
        <p class="components-text-white">milk chocolate</p>
        <div class="overlay-window">
          <h3 class="overlay-name-window">milk chocolate</h3>
          <div class="container-overlay-window">
            <p class="overlay-paragraf-window">chocolate</p>
            <p class="overlay-paragraf-window border-bg-window">the benefits</p>
          </div>
          <p class="overlay-info-window">
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe.
          </p>
        </div>
      </li>
      <li class="components-list-img-milk components-list-img-all">
        <picture>
          <source
            srcset="./images/unique_components/milk1x.png 1x, ./images/unique_components/milk@2x.png 2x"
            media="(min-width: 1200px)"/>
          <source
            srcset="./images/unique_components/milk-mob1x.png 1x, ./images/unique_components/milk-mob@2x.png 2x"
            media="(min-width: 768px)"/>
          <source
            srcset="./images/unique_components/milk-mob1x.png 1x, ./images/unique_components/milk-mob@2x.png 2x"
            media="(min-width: 375px)"/>
          <img
            class="components-img-size"
            src="./images/unique_components/milk-mob1x.png"
            alt="milk"
            width="224"/>
        </picture>
        <p class="components-text-black">milk</p>
        <div class="overlay-window">
          <h3 class="overlay-name-window">milk</h3>
          <div class="container-overlay-window">
            <p class="overlay-paragraf-window">milk</p>
            <p class="overlay-paragraf-window border-bg-window">the benefits</p>
          </div>
          <p class="overlay-info-window">
            Milk is a white liquid food produced by the mammary glands of
            mammals. It is the primary source of nutrition for young mammals
            (including breastfed human infants) before they are able to digest
            solid food.Early-lactation milk, which is called colostrum, contains
            antibodies that strengthen the immune system.
          </p>
        </div>
      </li>
      <li class="components-list-img-nuts components-list-img-all">
        <picture>
          <source
            srcset="./images/unique_components/nuts1x.png 1x, ./images/unique_components/nuts@2x.png 2x"
            media="(min-width: 1200px)"/>
          <source
            srcset="./images/unique_components/nuts-mob1x.png 1x, ./images/unique_components/nuts-mob@2x.png 2x"
            media="(min-width: 768px)"/>
          <source
            srcset="./images/unique_components/nuts-mob1x.png 1x, ./images/unique_components/nuts-mob@2x.png 2x"
            media="(min-width: 375px)"/>
          <img
            class="components-img-size"
            src="./images/unique_components/nuts-mob1x.png"
            alt="milk"
            width="224"/>
        </picture>
        <p class="components-text-white">nuts</p>
        <div class="overlay-window">
          <h3 class="overlay-name-window">nuts</h3>
          <div class="container-overlay-window">
            <p class="overlay-paragraf-window">nuts</p>
            <p class="overlay-paragraf-window border-bg-window">the benefits</p>
          </div>
          <p class="overlay-info-window">
            Almonds, pistachios, and walnuts are some types of nuts that contain
            healthy nutrients. When eaten as part of a nutrient-dense diet,
            these 9 nuts may offer benefits such as reducing your risk of heart
            disease. They’re a good source of fiber, healthy fats, and plant
            protein. Plus, they’re great on their own.
          </p>
        </div>
      </li>
      <li class="components-list-img-sweetchoco components-list-img-all">
        <picture>
          <source
            srcset="./images/unique_components/hotchoko1x.png 1x, ./images/unique_components/hotchoko@2x.png 2x"
            media="(min-width: 1200px)"/>
          <source
            srcset="
              ./images/unique_components/hotchoko-mob1x.png  1x,
              ./images/unique_components/hotchoko-mob@2x.png 2x
            "
            media="(min-width: 768px)"/>
          <source
            srcset="
              ./images/unique_components/hotchoko-mob1x.png  1x,
              ./images/unique_components/hotchoko-mob@2x.png 2x
            "
            media="(min-width: 375px)"/>

          <img
            class="components-img-size"
            src="./images/unique_components/hotchoko-mob1x.png"
            alt="hotchoko"
            width="224"/>
        </picture>
        <p class="components-text-black">semi - sweet chocolate</p>
        <div class="overlay-window">
          <h3 class="overlay-name-window">semi - sweet chocolate</h3>
          <div class="container-overlay-window">
            <p class="overlay-paragraf-window">sweet chocolate</p>
            <p class="overlay-paragraf-window border-bg-window">the benefits</p>
          </div>
          <p class="overlay-info-window">
            Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of
            the best ways to gain an understanding of this type of chocolate is
            to compare it to a different type of chocolate. Semisweet is darker
            than milk chocolate. In a taste comparison, it has a slightly bitter
            taste whereas milk chocolate is sweeter.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
