.footer {
    background-color: var(--primary_background_color);
}

.footer-main {
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer-title {
color: var(--primary_text_color);
font-weight: 500;
font-size: 24px;
line-height: 1.17;
letter-spacing: -0.02em;
width: 300px;
margin-bottom: 32px;
}

.footer-span-choco {
color: var(--accent_color);
}

.footer-p {
font-weight: 500;
line-height: 1.29;
color: var(--primary_text_color);
padding-bottom: 14px;
}

.contact-container {
    line-height: 1.29;
    color: var(--primary_text_color);
}

.footer-span-line {
    display: block;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 32px;
}

.footer-nav-container {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}
.footer-list-link {
    color: var(--primary_text_color);
}
.footer-list-link:hover,
.footer-list-link:focus {
    color: var(--accent_color);
}

.footer-icon {
    stroke: var(--primary_text_color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 22px;
    height: 22px;
}

.footer-icon:focus,
.footer-icon:hover {
    stroke: #FD9222;
}

.footer_contact_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.footer_list {
    display: flex;
    column-gap: 14px;
}

.footer_list_icon:not(:last-child) {
    margin-bottom: 4px;
}
/* ==================================tablet================================== */
@media screen and (min-width: 768px) {
    .footer-title {
        font-size: 28px;
        line-height: 1.21;
        margin-bottom: 0;
    }
    .footer_contact_container {
        justify-content: flex-end;
        margin-bottom: 0;
    }
    .contact {
        margin-right: 50px;
    }
    .footer-nav-container {
        flex-direction: row;
        column-gap: 24px;
    }
    .footer-main {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .footer-span-line {
        margin-bottom: 24px;
    }
    .footer-icon {
        width: 24px;
        height: 24px;
    }
    .footer_container_flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 50px;
    }
}

/* ==================================desk================================== */
@media screen and (min-width: 1200px) {
    .contact {
        margin-right: 63px;
    }
    .footer_container_flex {
        margin-bottom: 62px;
    }
}