.navigation-icon {
  fill: var(--accent_color);
}

.nav-burger-color {
  stroke: var(--secondary_color);
}

.header-logo-text {
  display: flex;
  align-items: center;
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  color: var(--secondary_color);
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: var(--secondary_color);
}
.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent_color);
}

.header-icon-color {
  stroke: var(--secondary_color);
}
.header-icon-color:hover,
.header-icon-color:focus {
  stroke: var(--accent_color);
}
.nav_button_open_menu {
  padding: 0;
  border: none;
  line-height: 0;
  background-color: transparent;
}

@media screen and (max-width:1199px) {
  .navigation_link_list {
    display: none;
  }

  .navigation_social {
    display: none;
  }
}

/* header mobile menu */
.header_style {
  padding-top: 20px;
  padding-bottom: 14px;
}

.header_mobile_menu {
  width: 220px;
  height: 100%;
  background: var(--primary_background_color);
  position: fixed;
  top: 0;
  right: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 999;
}

.icon_close_head {
  stroke: var(--primary_text_color);
  position: absolute;
  top: 20px;
  right: 20px;
}

.mobile_menu_button {
  padding: 0;
  border: none;
  line-height: 0;
  background-color: transparent;
}

.header_mobile_container {
  padding: 20px;
  height: 100%;
}

.header_menu_list_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  letter-spacing: -0.02em;
  color: var(--primary_text_color);
}
.header_menu_list_link:hover,
.header_menu_list_link:focus {color:var(--accent_color);
  }  
.header_navigation {
  display: flex;
  justify-content: space-between;
}

.header_menu_list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 136px;
}

.header_menu_icon_social {
  stroke: var(--primary_text_color);
}
.header_menu_icon_social:hover,
.header_menu_icon_social:focus {
  stroke: var(--accent_color);
}
.header_mobile_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_menu_list_social {
  display: flex;
  gap: 18px;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

@media screen and (min-width:768px) {
  .header_mobile_menu {
    width: 290px;
  }

  .header_style {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width:1200px) {
  .header-logo-text {
    font-size: 18px;
    line-height: 20px;
  }
  .navigation-icon {width: 24px;
  height: 24px;}
  .header_style {
    padding-bottom: 32px;
  }

  .navigation_link_list {
    display: flex;
    align-items: center;
    column-gap: 24px;
  }

  .navigation_social {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  .nav_button_open_menu {
    display: none;
  }
}