.section_hero {
  padding-bottom: 72px;
}

.container_hero {
  margin-left: auto;
  margin-right: auto;
  padding: 395px 20px 20px 20px;
  box-sizing: border-box;

  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../images/hero/hero_bg_chocolate_mobile.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  max-width: 335px;
  min-height: 620px;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .container_hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero/hero_bg_chocolate_mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .container_hero {
    min-height: 890px;
    min-width: 704px;
    padding: 671px 40px 40px 40px;

    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero/hero_bg_chocolate_tablet.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .container_hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero/hero_bg_chocolate_tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .container_hero {
    min-height: 600px;
    min-width: 1136px;
    padding: 381px 40px 40px 40px;

    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero/hero_bg_chocolate_desktop.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .container_hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero/hero_bg_chocolate_desktop@2x.jpg);
  }
}
.container_width {
  max-width: 295px;
}

.hero_titel {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  visibility: hidden;
}

.hero_text {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;

  color: var(--primary_text_color);
}

.container_button_and_link {
  display: flex;
  align-items: center;
  column-gap: 14px;

  margin-bottom: 32px;
}

.hero_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;

  padding-left: 28px;
  padding-right: 28px;

  font-weight: 600;
  line-height: 17px;
  height: 41px;
  border: none;
  border-radius: 100px;

  background: var(--accent_color);
  color: var(--primary_text_color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero_button:hover,
.hero_button:focus {
  background-color: #fcf1e0;
  color: var(--accent_color);
}

.hero_link_how_made {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;

  padding-left: 28px;
  padding-right: 28px;

  box-sizing: border-box;

  font-weight: 600;
  line-height: 17px;
  height: 41px;
  border-radius: 100px;

  border: 1px solid var(--primary_text_color);
  color: var(--primary_text_color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero_link_how_made:hover,
.hero_link_how_made:focus {
  border: 1px solid var(--accent_color);
  color: var(--accent_color);
}

.hero_link_scroll_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;

  max-width: 107px;

  color: var(--primary_text_color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero_link_scroll_footer:hover,
.hero_link_scroll_footer:focus {
  color: var(--accent_color);
}

.hero_container_svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;

  background-color: var(--primary_text_color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero_link_scroll_footer:hover .hero_container_svg,
.hero_link_scroll_footer:focus .hero_container_svg {
  background-color: var(--accent_color);
}

.hero_svg_scroll {
  width: 16px;
  height: 16px;

  fill: var(--accent_color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero_link_scroll_footer:hover .hero_svg_scroll,
.hero_link_scroll_footer:focus .hero_svg_scroll {
  fill: var(--primary_text_color);
}

@media screen and (min-width: 768px) {
  .container_width {
    max-width: 624px;
  }

  .flex-container {
    display: flex;
    align-items: center;
  }
  .container_button_and_link {
    margin-bottom: 0;
  }

  .hero_link_scroll_footer {
    margin-left: auto;

    font-size: 14px;
    line-height: 1.29;

    max-width: 130px;
  }
  .hero_container_svg {
    width: 38px;
    height: 38px;
  }
  .hero_svg_scroll {
    width: 22px;
    height: 22px;
  }
  .hero_button {
    height: 45px;

    padding-left: 40px;
    padding-right: 40px;
  }
  .hero_link_how_made {
    height: 45px;

    padding-left: 40px;
    padding-right: 40px;
  }
  .hero_text {
    max-width: 484px;

    font-size: 28px;
    line-height: 1.21;
  }
}
@media screen and (min-width: 1200px) {
  .container_width {
    max-width: 1056px;
  }
}
