
.how-its-made-container {
  width: 100%;
  align-items: center;
}

.title-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #111111; 
  margin-bottom: 32px;
}

.title-text-yellow {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  align-items: center;
  letter-spacing: 0.03em;
  color: #FD9222;
  margin-left: 5px;
}

.how-its-made-player-wrapper {
max-width: 335px;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
}

.how-its-made-player {
  border-radius: 15px;
  width: 100%;

}

.production-steps-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #111111;
  margin-bottom: 20px;  
}

.step-list {
  color: #4C4C4C;
}

.production-steps {
background-color: #FFFFFF;
border-radius: 15px;
max-width: 335px;
margin-left: auto;
margin-right: auto;
padding-top: 20px;
padding-left: 14px;
padding-right: 14px;
padding-bottom: 20px
}

.step-item{
  margin-left: 14px;
  margin-bottom:18px ;
  list-style-type: disc;
}

.step {
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #111111;
 
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
.container {
  width: 375px;
  margin: 0 auto;
}
}

@media screen and (min-width: 768px) {
.container {
  width: 768px;
  margin: 0 auto;
}


}
.title-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #111111; 
  margin-bottom: 50px;
}

.title-text-yellow {
font-weight: 600;
font-size: 24px;
line-height: 28px;
text-align: center;
align-items: center;
letter-spacing: 0.03em;
color: #FD9222;
margin-left: 5px;
}

.how-its-made-player-wrapper {
max-width: 614px;

}
.production-steps-title {
font-weight: 600;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.03em;
color: #111111;
margin-bottom: 28px;  
}
.production-steps {
background-color: #FFFFFF;
border-radius: 15px;
max-width: 614px;
margin-left: auto;
margin-right: auto;
padding-top: 32px;
padding-left: 32px;
padding-right: 32px;
padding-bottom: 32px;
}
.step {
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #111111;
  
}
.step-item:last-child {
  margin-bottom: 0;
}


@media screen and (min-width: 1200px) {
.container {
  width: 1200px;
  margin: 0 auto;

}
.title-text {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #111111; 
  margin-bottom: 50px;
  
}

.title-text-yellow {
font-weight: 600;
font-size: 24px;
line-height: 28px;
text-align: center;
align-items: center;
letter-spacing: 0.03em;
color: #FD9222;
margin-left: 5px;
}

.how-its-made-player-wrapper {
margin-right: 0;
margin-left: 0;
margin-bottom: 0;
} 

.how-its-made-player {
width: 600px;
height: 400px;
}
.production-steps-title {
font-weight: 600;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.03em;
color: #111111;
margin-bottom: 20px;  
}
.production-steps {
background-color: #FFFFFF;
border-radius: 15px;
max-width: 516px;
margin-left: 0;
margin-right: 0;
padding: 32px;

max-height: 400px;
}

.step {
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #111111;
  
}

.step-item{
margin-left: 14px;

margin-bottom:24px ;
}

.step-item:last-child {
  margin-bottom: 0;
}
.wrapper {
display: flex;
justify-content: space-between;
gap: 20px;

}

}