.bn_modal {
  position: absolute;
  width: 311px;
  top: 20px;
  left: 50%;
  padding: 32px 24px;
  transform: translate(-50%);
  background: #fafafa;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: transform var(--animation);
  overflow: auto;
  max-height: calc(100% - 40px);
}

.bn_close_btn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  padding: 0;
  border: none;
  background-color: var(--background-white);
  cursor: pointer;
  transition: background-color var(--animation), border var(--animation);
}

.bn_close_svg {
  stroke: #111111;
}

.bn_modal_header {
  display: flex;
  gap: 6px;
  flex-direction: row;
  justify-content: center;
  color: #fd9222;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.bn_modal_header2 {
  color: #111111;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}

.bn_card_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}

.bn_card {
  padding: 8px 16px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bn_weight_btn {
  border-radius: 100px;
  padding: 6px 16px;
  height: 29px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;
  color: #111;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.bn_form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.bn_form_block {
  display: flex;
  flex-direction: column;
}

.bn_form_block_name {
  color: #000;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.24px;
  margin-bottom: 8px;
}

.bn_input_block {
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: relative;
}

.bn_input {
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  padding: 14px 18px;
  outline: transparent;
  width: 100%;
}

.bn_input_phone {
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  padding: 14px 18px;
  outline: transparent;
  width: 100%;
  text-indent: 82px;
}

.bn_input:hover,
.bn_input:focus {
  border: 1.5px solid #fd9222;
}

.bn_input_phone:hover,
.bn_input_phone:focus {
  border: 1.5px solid #fd9222;
}

.bn_input_comment:hover,
.bn_input_comment:focus {
  border: 1.5px solid #fd9222;
}

.bn_input_comment {
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  padding: 14px 18px;
  outline: transparent;
  background-color: transparent;
  resize: none;
  width: 100%;
}

.bn_input::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-size: 14px;
  letter-spacing: -0.28px;
}

.bn_input_phone::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-size: 14px;
  letter-spacing: -0.28px;
}

.bn_input_comment::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-size: 14px;
  letter-spacing: -0.28px;
}

.bn_send-button {
  padding: 12px 28px;
  border-radius: 100px;
  background: #fd9222;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none;
  width: 109px;
}

.bn_ua {
  position: absolute;
  display: flex;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  border-right: 1.5px solid rgba(17, 17, 17, 0.05);
}

.bn_ua_phone {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  margin-left: 8px;
  margin-right: 8px;
}

.bn_card_svg {
  position: absolute;
  display: block;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
  .bn_modal {
    width: 609px;
    padding: 48px;
  }

  .bn_card_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    margin-bottom: 40px;
  }

  .bn_card {
    padding: 24px 20px 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
  }

  .bn_img {
    width: 120px;
    height: 107px;
  }

  .bn_weight_btn {
    padding: 8px 27px;
    height: 33px;
  }

  .bn_input_block {
    flex-direction: row;
    gap: 21px;
  }

  .bn_send-button {
    padding: 14px 40px;
    width: 133px;
  }
}
