.review_modal_window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FAFAFA;
    width: 311px;
    height: 471px;
    border-radius: 15px;
    padding: 32px 24px;
}

.review_modal_close_btn {
    position: absolute;
    top: 14px;
    right: 14px;
    display: flex;
    border: none;
    background-color: transparent;
    padding: 0;
}

.review_modal_close_icon {
    width: 24px;
    height: 24px;
    stroke: #111111;
}

.review_modal_title {
    width: 255px;
    color: #111111;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.6px;
    margin-bottom: 32px;
}

.review_modal_orange_title_part {
    color: #FD9222;
}

.review_modal_form_flex_box {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 18px;
}

.review_modal_input_window {
    height: 45px;
    border-color: rgba(64, 64, 64, 0.3);
    border-radius: 8px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    padding-left: 18px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review_modal_input_window:hover,
.review_modal_input_window:focus {
    outline: none;
    border-color: var(--accent_color);
}

.review_modal_textarea {
    height: 91px;
    resize: none;
    border-color: rgba(64, 64, 64, 0.3);
    border-radius: 8px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    padding: 14px 18px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.review_modal_textarea:hover,
.review_modal_textarea:focus {
    outline: none;
    border-color: var(--accent_color);
}

.review_modal_send_btn {
    width: 93px;
    height: 41px;
    border: none;
    border-radius: 100px;
    background: #FD9222;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
}

.review_modal_send_btn:hover,
.review_modal_send_btn:focus {
    background: #FCF1E0;
    color: var(--accent_color);
}

/* Phone number input form */
.review_modal_input_phone_container {
    width: 100%;
    height: 45px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    background-color: #FFFFFF;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.review_modal_input_directive_numb {
    font-weight: 500;
    color: #111111;
    font-size: 14px;
    line-height: 17px;
}

.review_modal_input_directive_numb::after {
    content: '';
    height: 25px;
    border: 1px solid rgba(17, 17, 17, 0.05);
    margin-left: 4px;
}

.review_modal_input_tel {
    width: auto;
    height: 24px;
    border: none;
    padding: 0;
}

.review_modal_input_tel:hover,
.review_modal_input_tel:focus {
    outline: none;
    border-color: var(--accent_color);
}

@media screen and (min-width:768px) {
    .review_modal_window {
        width: 517px;
        height: 628px;
        padding: 40px;
    }

    .review_modal_close_btn {
        right: 24px;
        top: 24px
    }

    .review_modal_title {
        font-size: 24px;
        line-height: 28px;
        width: 100%;
        margin-bottom: 40px;
    }

    .review_modal_form_flex_box {
        gap: 18px;
    }

    .review_modal_input_window {
        height: 66px;
        padding-left: 24px;
    }

    .review_modal_input_phone_container {
        height: 66px;
        padding: 0 0 0 24px;
        gap: 18px;
    }

    .review_modal_textarea {
        height: 137px;
    }

    .review_modal_send_btn {
        width: 117px;
        height: 45px;
    }

    .review_modal_input_ukr_flag_icon {
        width: 32px;
        height: 32px;
    }

    .review_modal_textarea {
        padding: 22px 24px;
    }

    .review_modal_input_directive_numb {
        font-size: 18px;
        line-height: 22px;
    }
}