.reviews_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.reviews_box_list{
    display: flex;
    gap: 16px;
    
    justify-content: center;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

.reviews_title{
    font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        padding-bottom: 74px;
        text-align: center;
        letter-spacing: -0.03em;
        text-transform: uppercase;
}

.reviews_text_decoration{
    color: var(--accent_color);
}



.reviews_list{
    width: 100%;
    min-height: 198px;
    background: #FFFFFF;
        border: 1px solid rgba(17, 17, 17, 0.1);
        box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
        border-radius: 15px;
        justify-content: center;
        text-align: center;
        position: relative;
        min-width: 0;
        
        
        
        
}
.reviews_slider{
    min-width: 0;
}

.reviews_list_title{
    margin-top: 56px;
    margin-bottom: 24px;
    font-weight: 600;
        font-size: 18px;
        line-height: 1.33;
        
}

.reviews_list_reviews{
    
        font-size: 14px;
        line-height: 1.28;
        margin-left: 18px;
        margin-right: 18px;
        color: rgba(17, 17, 17, 0.7);
        padding-bottom: 42px;
        
        
}

.reviews_photo {
    
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50% , -50%);
    
   
}
.reviews_pointer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.reviews_btn{
    border: 1px solid var(--accent_color);
        border-radius: 100px;
        width: 165px;
            height: 41px;
            margin: 0 auto;
            margin-bottom: 72px;
            font-weight: 600;
                font-size: 14px;
                line-height: 1.21px;
            
            
}
.reviews_btn:hover {
    background: var(--accent_color);
}


.reviews_list_nb, .reviews_list_ok{
    /* display: none; */
}

/* <=================================================SLIDER */







/* Точки (булиты) */
.reviews_slider_list{
    display: flex;
    gap: 13px;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-bottom: 32px;
}




/* Элемент точки */
.reviews_slick_dots {
    font-size: 0;
    width: 13px;
    height: 13px;
    background: rgba(17, 17, 17, 0.1);
    border-radius: 50%;
    border-color: transparent;
    cursor: pointer;
}

.reviews_slick_dots:hover {
    background: var(--accent_color);
    width: 28px;
    height: 13px;
    border-radius: 100px;
    box-sizing: border-box;
    border: none;
}
    

.reviews_list_nb, .reviews_list_ok, .reviews_list_ns, .reviews_list_ds, .reviews_list_it{
display: none;
}


/* <=====================================================MAX-WIDTH */



@media screen and (min-width: 768px) {

.reviews_box_list {
    
    width: 704px;
    display: flex;
        gap: 16px;
        padding-bottom: 31px;
}
.reviews_list {
    width: 344px;
}

.reviews_list_nb {
    display: block;
}



.reviews_title{
    font-size: 24px;
        line-height: 1.16;
        padding-bottom: 91px;
}

.reviews_slider_list{
    padding-bottom: 50px;
}

.reviews_btn{
    font-size: 18px;
        line-height: 1.22;
    margin-bottom: 100px;
    width: 222px;
        height: 50px;
}

}

@media screen and (min-width: 1200px) {
   
.reviews_box_list {

        width: 1136px;

    }

.reviews_list {
    width: 360px;
    



}
.reviews_list_ok{
    display: block;
}
.reviews_box_list{
    gap: 28px;
}

.reviews_btn {
    margin-bottom: 128px;
}
}